/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*STYLES*/

@font-face {
    font-family: adamCG;
    src: url(ADAM.CG_PRO.otf);
}
@font-face {
    font-family: linuxRah;
    src: url(LinBiolinum_Rah.ttf);
}

body {
  background-color: black;
}

a {
  font-size: 1.3em;
	font-family: linuxRah;
}

#header {
  margin: 16px 0px 16px 0px;
}

#header a {
  font-family: adamCG;
  font-size: 3em;
  color: white;
  width: 350px;
  display: block;
  margin: 0 auto;
}

#menu-text {
  color: white;
	font-size: 1.3em;
	margin: 39px 0px 0px 14px;
	position: absolute;;
	font-family: linuxRah;
}

#header a:nth-child(4) {
  font-size: 2;
  color: grey;
  letter-spacing: .46em;
  left: 13px;
  position: relative;
}

.is-off-screen {
  left: -300px;
  transform: translate(-350px, 0);
}

#menu {
  position: absolute;
  /*height:100%;*/
  width: 300px;
  margin-top: 0px;
  background-color: black;
	border-right: grey thin solid;
	color: white;
  transition-duration: 0.12s;
	padding: 5px 0px 0px 10px;
}

#header button {
  position: absolute;
	top: 6px;
  z-index: 1;
}

input[type=range] {
  width:120px;
  font-size: 1.3em;
}
input {
  width:40px;
  font-size: 1.3em;
}
button:focus {
    outline:none;
}
button {
  font-size: 1.3em;
}
